.hourly-forecast-container{
    width: 97%;
    height: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0.7%;
    background-color: #26A0DA;
    border-radius: 0.6rem;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}

/* Hide scrollbar*/
.hourly-forecast-container::-webkit-scrollbar{
    display: none;
}

.graph {
    width: 100%;
}

.hourly-boxes {
    display: flex;
    flex-wrap: nowrap; 
    width: 100%;
    
}

.hourly-box{
    border-right: solid rgb(198, 197, 197);
    width: 8vw; 
}

.title{
    color: white;
    margin-bottom: 1%;
    margin-top: 0.5%;
    text-align: left;
}



.hourly-time,
.hourly-temperature, .precipitation, .wind, .humidity_text {
    width: 8vw;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 0%;
    font-size: 1rem;
    
}

.weather-icon{
    width: 5vw;
    margin:auto;

}

.arrow_icon{
    width: 2vw;
    margin: auto;
}

.rain{
    width: 1vw;
    margin: auto;

}


.scrollable-box {
    height:fit-content;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    display: block;
}

/* Hide scrollbar*/
.Scroll::-webkit-scrollbar{
    display: none;
}

  
/*Rotate arrow for different directions*/
.arrow_icon.north {
    transform: rotate(0deg);
}
  
.arrow_icon.northeast {
    transform: rotate(45deg);
}
  
.arrow_icon.east {
    transform: rotate(90deg);
}
  
.arrow_icon.southeast {
    transform: rotate(135deg);
}
  
.arrow_icon.south {
    transform: rotate(180deg);
}
  
.arrow_icon.southwest {
    transform: rotate(225deg);
}
  
.arrow_icon.west {
    transform: rotate(270deg);
}
  
.arrow_icon.northwest {
    transform: rotate(315deg);
}

/*Different CSS for when the screen size changes*/
@media screen and (max-width:780px) {

    .hourly-box{
        border-right: solid rgb(198, 197, 197);
        width: 10vw; 
    }

    .hourly-time,
    .hourly-temperature, .precipitation,.humidity_text, .wind {
        width: 10vw;
        text-align: center;
        margin-bottom: 4%;
        margin-top: 0%;
        font-size: 0.6rem;
        
    }

    .weather-icon{
        width: 5vw;
        margin:auto;

    }

    .arrow_icon{
        width: 4vw;
        margin: auto;
    }

    .rain{
        width: 2vw;
        margin: auto;

    }
    
}