.alerts {
    min-height: 90%;
    background-color: maroon;
    color: white;
    border-radius: 0.6rem;
    padding: 0.5%;
    margin-left: 2%;
    overflow-y: scroll;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}

.alerts::-webkit-scrollbar{
    display: none;
}

h2{
    text-align: center;
}

.single_alert {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}

.point {
    margin-right: 2%;
}