.weekly-container {
    background-color: #26A0DA;
    margin-inline: 2%;
    padding-bottom:0.05rem;
    width: 98%;
    border-radius: 0.6rem;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
}

.weekly-data {
    padding-top:0.3rem;
}

.weekly-header {
    text-align: left;
    padding: 1.5% 0% 1.5% 2%;
    margin:0;
    border-bottom: 0.05rem solid white;
    color:white;
}

.daily-weather {
    display:flex;
    padding: 0.3rem;
    align-items: center;
    background-color: #252B42;
    margin:0.3rem;
    color:white;
    border-radius: 0.6rem;
}

.daily-weather > * {
    margin: 1.8% 1.8% 1.8% 1.8%;
}

.daily-small {
    font-size: 0.75rem;
}

.daily-high {
    font-size: 0.75rem;
    margin-left: 5%;
}

.daily-date > * {
    margin:0 0.5% 0 0;
    padding:0;
    font-size: 0.8rem;
}


.daily-fish-activity {
    width:25%;
    margin-left: auto;
    /*white-space: nowrap;*/
}

.daily-avg-temperature {
    font-size:1.25rem;
}

.flex-item {
    width:8%;
    /* white-space: nowrap; */
    
}

.low-activity {
    color:rgb(232, 37, 37);
}

.medium-activity {
    color:rgb(255, 174, 24);
}

.high-activity {
    color:rgb(26, 193, 26);
}