
.App {
  display: grid;
  grid-template-rows: 15% 30% 5% 50%;
  grid-template-columns: 40% 30% 30%;
  width: 100%;
  background-color: #26A0DA;
}



.item1 {
  grid-row: 1;
  grid-column: 1;
}

.item2{
  grid-column: 1;
  grid-row: 2;
}

.item3{
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 1 / span 3; 
}
.item4{
  grid-column: 2 / span 2; 
  grid-row: 4;
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  
}

.item5{
  grid-row: 3 / span 2;
  grid-column: 1;
}

.item6{
  grid-column: 3;
  grid-row: 1 / span 3;
  overflow-y: hidden;
  width: 67%;
  height: 92%;
  margin: auto;
  margin-top: 0%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #26A0DA;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:768px) {
  .App {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #26A0DA;
    gap: 5%;
  }
  
}