.header {
    /* Blue background */
    display: flex;
    flex-direction: column;
    border-radius: 5px; /* Rounded corners */
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
.header button{
    color: white;
    text-decoration: none;
    padding: 3%;
    border-radius: 5px; /* Rounded corners */
    text-align: center;
    border: none;
    padding: 3%;
    border-radius: 0 5px 5px 0;
    background-color: #dc3545; /* Red background */
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-container {
    display: flex;
    align-items: center;
    border: solid black;
    border-radius: 5px; /* Rounded corners for the search box */
    margin: 0% 8%; /* Adjust spacing around search box */
    width: 80%;
}
.header input[type="search"] {

    padding: 3%;
    width: auto; /* Adjust the width as needed */
    border-radius: 5px 0 0 5px; /* Only round the left corners */
    width: 100%;
}
.search-icon {
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border-radius: 0 5px 5px 0; /* Only round the right corners */
    cursor: pointer;
}

.header button:hover {
    background-color: #c82333; /* Darker red on hover */
}

.links{
    font-size: small;
    margin: 2%;
    margin-right: 12%;
    display: flex;
    flex-direction: row;
    vertical-align: bottom;
    width: auto;
}

.link2{
    margin-left: 5%;
    padding: 2%;
    border: solid black 0.7px;
    border-radius: 25px;
}




