.Overview {
    height: 100%;
}
.Overview > .result {

    display: flex;
    flex-direction: column;

    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    width: 98%;
    height: auto;
    padding-bottom: 2%;
    margin-left: 2%;
    border-radius: 1.25rem;
    border-style: solid;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
    grid-template-areas: 
    "names icon"
    "maintemp description"
    ;

}

.names{
    display: flex;
    flex-direction: column;
    padding-inline: 20%;
    justify-content: center;
    margin-top: 2%;

}

.city{
    font-size: 2.2rem;
}

img {
    display: block; 
    margin: 0 auto; 
}

.icons-date {
    font-size: 0.7rem;
}

.icons-date img{
    width: 35%;
}


.result h2{
    text-align: center;
    margin: 0%;
}

h3 {
    margin: auto;
    margin-bottom: 5%;
    margin-top: 1%;
}

.temp{
    margin-top: 0%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
}

.maintemp{
    font-size:3.2rem;
}

.descriptionsect{
    margin-bottom: 2%;
}