.Overview > .result {

    display: grid;
    

    background: url('szabo-viktor-28ZbKOWiZfs-unsplash1.png');
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    min-width: 55rem;
    min-height: 14rem;
    border-style: solid;
    border-width: 1%;
 
    grid-template-areas: 
    "names icon"
    "maintemp description"
    ;
    margin-inline:20% ;
}

.names{
    display: flex;
    flex-direction: column;
    padding-inline: 20%;
    justify-content: space-between;

}

.icons img{
    width: 10rem;
    height: auto;
}

.result h2{
    text-align: center;
}