.Overview > .result {

    display: flex;

    flex-direction: column;
    background: url('szabo-viktor-28ZbKOWiZfs-unsplash1.png');
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    min-width: 55rem;
    min-height: 14rem;
    border-style: solid;
    border-width: 1%;
    border-width: 1%;
    margin-inline:20% ;
    border-radius: 2rem;
}

.result > *{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.result h2{
    text-align: center;
}