.alerts {
    height: auto;
    background-color: maroon;
    color: white;
    border-radius: 10px;
    padding: 0.5%;
    margin: 5%;
    overflow-y: scroll;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.3);
}

.alerts::-webkit-scrollbar{
    display: none;
}

h2{
    text-align: center;
}

.single_alert {
    display: flex;
    flex-direction: row;
}

.point {
    margin-right: 2%;
}