.weekly-container {
    background-color: #26A0DA;
    margin-inline: 2%;
    padding-bottom:1px;
    width: 98%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.weekly-data {
    padding-top:5px;
}

.weekly-header {
    text-align: left;
    padding: 1.5% 0% 1.5% 2%;
    margin:0;
    border-bottom: 1px solid white;
    color:white;
}

.daily-weather {
    display:flex;
    padding: 5px;
    align-items: center;
    background-color: #252B42;
    margin:5px;
    color:white;
    border-radius: 10px;
}

.daily-weather > * {
    margin: 1.8% 1.8% 1.8% 1.8%;
}

.daily-small {
    font-size: 12px;
}

.daily-date > * {
    margin:0 0.5% 0 0;
    padding:0;
    font-size: 13px;
}


.daily-fish-activity {
    width:25%;
    margin-left: auto;
    /*white-space: nowrap;*/
}

.daily-avg-temperature {
    font-size:20px;
}

.flex-item {
    width:8%;
    white-space: nowrap;
    
}

.red-activity {
    color:rgb(232, 37, 37);
}

.orange-activity {
    color:rgb(255, 174, 24);
}

.green-activity {
    color:rgb(26, 193, 26);
}