.weekly-container {
    background-color: #26A0DA;
    margin-inline: 20%;
    padding-bottom:1px;
    min-width: 55rem;
}

.weekly-data {
    padding-top:5px;
}

.weekly-header {
    text-align: left;
    padding: 10px 0px 10px 15px;
    margin:0;
    border-bottom: 1px solid white;
    color:white;
}

.daily-weather {
    display:flex;
    padding: 5px;
    align-items: center;
    background-color: #252B42;
    margin:5px;
    color:white;
}

.daily-weather > * {
    margin: 10px 15px 10px 10px;
}

.daily-small {
    font-size: 12px;
}

.daily-date > * {
    margin:0 5px 0 0;
    padding:0;
    font-size: 13px;
}


.daily-fish-activity {
    width:150px;
    margin-left: auto;
    white-space: nowrap;
}

.daily-avg-temperature {
    font-size:20px;
}

.flex-item {
    width:50px;
    white-space: nowrap;
}

.red-activity {
    color:rgb(232, 37, 37);
}

.orange-activity {
    color:rgb(255, 174, 24);
}

.green-activity {
    color:rgb(26, 193, 26);
}